# openai setting
OPENAI_API_KEY="sk-XXXXXXX"

# solana setting
HELIUS_API_KEY="XXXXXXX"

# tavily setting
TAVILY_API_KEY="XXXXXXX"

# telegram setting
TELEGRAM_BOT_TOKEN="XXXXXXX"

DATABASE_URL="postgresql://"

CRON_SECRET="XXXXXXX"